.ads {
    display: block;
    height: 40px;
    width: 180px;
}

.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: red;
}

.close {
    display: none;
}

.openme {
    display: block;
}

/** Width **/
.zeroWidth {
    width: 0;
}

/* halfwidth */
.halfWidth {
    width: 40px;
}

/**/
.navbar-collapse {
    transform-origin: top 0%;
    transition: all 1s linear;
}

@media screen and (max-width: 720px) {
    .hd {
        flex-wrap: wrap;
    }
}

/****************************************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.bd-test {
    display: flex;
    justify-content: flex-end;
}  